<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgcns.tct.mapper.UsedataMapper">

	<select id="getUseData" parameterType="String" resultType="com.lgcns.tct.dto.UsedataDto">
        SELECT COUNT(*) AS usage_count
     		, SUM(use_time) AS usage_minute
     		, SUM(use_distance) AS usage_meter
     		, round(SUM(use_distance)/1000*0.232, 1) AS carbon_reduction
		FROM kickboard_svc.t_svc_use
		WHERE 1=1
		AND user_no=#{user_no} 
		AND DATE(use_start_dt)>=#{start_dt}
    </select>

		<select id="getUsedList" parameterType="String" resultType="com.lgcns.tct.dto.UsedListDto">
	SELECT svc.USE_NO AS use_no
			, svc.USE_DISTANCE AS use_distance
			, svc.USE_TIME AS use_time
			, date_format(svc.USE_START_DT, '%Y-%m-%d %h:%i') AS use_start_dt
			, date_format(svc.USE_END_DT, '%Y-%m-%d %h:%i') AS use_end_dt
			, date_format(pay.PAY_DATETIME, '%Y-%m-%d %h:%i') AS pay_datetime
			, max(case when  pay.PAYMETHOD_CODE = 'C' then pay.PAY_COST END) AS card_pay
			, max(case when  pay.PAYMETHOD_CODE = 'P' then pay.PAY_COST END) AS point_pay
		FROM kickboard_svc.t_svc_use_pay as pay
			, kickboard_svc.t_svc_use AS svc
		WHERE 1=1
		AND svc.USE_NO =  pay.USE_NO
		AND svc.USER_NO =#{user_no}
			AND DATE(svc.use_start_dt)>=#{start_dt}
		GROUP BY svc.USE_NO
		ORDER BY use_start_dt DESC
    </select>
	
</mapper>